/* GLOBAL */

body {
    margin: 0;
    font-family: sans-serif;
    color: #22292F;
    background-color: #F8FAFC;
}

ul {
    padding: 0;
}

video {
    object-fit: fill;
    width: 100%;
}

h1.title {
    margin-top: 1em;
    font-size: 50px;
}

.container {
    max-width: 1200px;
    margin: 2em auto;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#form-container > div {
    background-color: white;
    max-width: 500px;
    padding: 5em 10em;
    box-shadow: -7px 6px 38px -30px rgba(0,0,0,0.15);
    border-radius: 5px;
}

#form-container label {
    font-size: 18px;
    margin-bottom: 1em;
    font-weight: bolder;
}

#form-container input {
    padding: 1em 2em;
    margin-top: 1em;
    background-color: #F8FAFC;
    border: none;
}

#form-container button {
    background-color: #22292F;
    color: #F8FAFC;
    padding: 1em 2em;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    margin-top: 1em;
}

/* NAV */

nav {
    background-color: #22292F;
}

.nav-content {
    color: #F8FAFC;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin-right: 1em;
}

nav li button {
    background: #F8FAFC;
    border: none;
    padding: 1em 2em;
}

nav .user {
    margin-left: 2em;
    margin-right: 0;
}

/* DETAILS */

.details-content {
    max-width: 500px;
}

.details-content button {
    background-color: #22292F;
    color: #F8FAFC;
    padding: 1em 2em;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    margin-top: 1em;
}

.details-content h1 {
    margin: 0;
}

.details-content p {
    margin: 2em 0;
}

.details-content .ratings {
    margin: 0.5em 0;
}

.details-container {
    display: flex;
    max-width: 1000px;
    margin: 4em auto;
}

.details-container > img {
    width: 200px;
    min-width: 300px;
    margin-right: 2em;
}
