#carousel {
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    justify-content: center;
}

#carousel li {
    list-style: none;
}

#carousel button {
    border: none;
    padding: 0 1em;
    opacity: 0.5;
    height: 280px;
}

#carousel .slides {
    overflow: hidden;
    height: 450px;
}

#carousel p {
    margin: 0;
    padding: 1em;
}

#carousel a {
    text-decoration: none;
    text-underline: none;
    color: #22292F;
    font-weight: bold;
}

#carousel .slides > ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 20px;
}

#carousel .slide {
    width: 200px;
    flex-shrink: 0;
    margin-right: 30px;
    background-color: red;
    border-radius: 10px;
}

#carousel .slide-content {
    background-color: white;
    box-shadow: -7px 6px 38px -30px rgba(0,0,0,0.15);
    border-radius: 5px;
}

#carousel .slide p {
    height: 40px;
    padding: 10px;
}

#carousel .control {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel .poster {
    height: 300px;
    width: 200px;
    background-size: cover;
}